body {
    height:100vh;
}

.appContainer {
    background-color: lightgoldenrodyellow;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: lavender;
    height: 10vh;
}

.aside1 {
    display: flex;
    text-align: center;
    background-color: aqua;
    height: 5vh;
    
}

.aside2 {
    background-color: forestgreen;
    height: 5vh;
}

.body {
    background-color: antiquewhite;
    height: 80vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.footer {
    background-color: lightcoral;
    height: 10vh;
}

.box1 {
    flex: 1;
    background-color: white;
}

.box2 {
    flex: 1;
    background-color: wheat;
}

.box3 {
    flex: 1;
    background-color: whitesmoke;
}


@media only screen and (min-width: 768px) {
    /* For Desktop View */

    .body {
        width: 80vw;
        margin-left: 10vw;
    } 

    .aside1 {
        float: left;
        flex-direction: column;
        height: 80vh;
        width: 10vw;
}

    .aside2 {
        float: right;
        height: 80vh;
        width: 10vw;
}

    .box1 {
        flex: 1;
        background-color: white;
}

    .box2 {
        flex: 1;
        background-color: wheat;
}

    .box3 {
        flex: 1;
        background-color: whitesmoke;
}

}

