body {
    height:100vh;
}

.appContainer {
    background-color: lightgoldenrodyellow;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: lavender;
    height: 10vh;
}

.aside1 {
    background-color: aqua;
    height: 5vh
}

.aside2 {
    background-color: forestgreen;
    height: 5vh;
}

.body {
    background-color: antiquewhite;
    height: 80vh;
}

.footer {
    background-color: lightcoral;
    height: 10vh;
}

@media only screen and (min-width: 768px) {
    /* For Desktop View */

.aside1 {
    float: left;
    height: 80vh;
    width: 10vw;
}

.aside2 {
    float: right;
    height: 80vh;
    width: 10vw;
}

.footer {
    float: bottom;
}
}

