body {
    height:100vh;
    color: #365b6d;
    background-color: f2f1ec;
}

.appContainer {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
}

.header {
    height: 20vh;
    padding: 5;
}


.aside1 {
    display: flex;
    text-align: center;
    height: 7vh;
}

.aside2 {
    height: 7vh;
}

.body {
    background-size: 100vw;
    height: 56vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.footer {
    height: 10vh;
    text-align: center;
}

.box1 {
    flex: 1;
}

.box2 {
    flex: 1;
}

.box3 {
    flex: 1;
}


@media only screen and (min-width: 768px) {
    /* For Desktop View */

    .body {
        height: 70vh;
        width: 80vw;
        margin-left: 10vw;
    } 

    .footer {
        height: 30vh;
    }

    .aside1 {
        float: left;
        flex-direction: column;
        height: 80vh;
        width: 10vw;
}

    .aside2 {
        float: right;
        height: 80vh;
        width: 10vw;
}

    .box1 {
        flex: 1;
}

    .box2 {
        flex: 1;
}

    .box3 {
        flex: 1;
}

}

